<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> -->
<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" rel="stylesheet"/> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- Plotly local js -->
<script type="text/javascript" src={{ url_for('static', filename = 'js/plotly.js') }}></script>

<!-- Some math -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/6.6.4/math.min.js"></script>

<!-- d3js local js -->
<script type="text/javascript" src={{ url_for('static', filename = 'js/d3.js') }}></script>
<script type="text/javascript" src={{ url_for('static', filename = 'js/d3-context-menu.js') }}></script>
<link rel="stylesheet" href={{ url_for('static', filename = 'js/d3-context-menu.css') }} >

<!-- Some soketio for passing data around -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

<!-- colormap utility -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js"></script>

<!-- slider utility -->
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.css"> -->


<script>

Array.prototype.remove = function() {
    var what, a = arguments, L = a.length, ax;
    while (L && this.length) {
        what = a[--L];
        while ((ax = this.indexOf(what)) !== -1) {
            this.splice(ax, 1);
        }
    }
    return this;
};

function docReady(fn) {
  // see if DOM is already available
  if (document.readyState === "complete" || document.readyState === "interactive") {
      // call on next available tick
      setTimeout(fn, 1);
  } else {
      document.addEventListener("DOMContentLoaded", fn);
  }
}
var socket = io.connect('http://' + document.domain + ':' + location.port);

// amazing stackoverflow
function makeid(length) {
   var result           = '';
   var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
   var charactersLength = characters.length;
   for ( var i = 0; i < length; i++ ) {
      result += characters.charAt(Math.floor(Math.random() * charactersLength));
   }
   return result;
}

</script>

<style>
  #sticky-sidebar {
  position:fixed;
  max-width: 20%;
  }
</style>

<div class="container" style = "float: left; width: 100%;">
  <div class="row" >
    <div class="col-xs-2" style = "height: 100%;">
      <div class="col-xs-2" id="sticky-sidebar" style = "height: 100%;">
        <center>
          <h2>SigViz</h2><hr>
          <i>
            Real time signal plottrer for MCE. This is a concept view, do not expect any content to work.
          </i>
        </center><hr>


        <button type="button" class="btn btn-primary" id="plotter-btn" style="width: 100%;" onclick="alert('Plotter can only be launced from triangle view')">Plotter (0)</button>
        <hr>
        <div class="panel panel-default", id = 'setting-collapse'>
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="toggle" data-toggle="collapse" href="#collapse-setting"> <b>Settings</b> </a>
              <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" style = "margin-left:10px"
              title="Program general settings"></a>
            </h4>
          </div>

          <div id="collapse-setting" class="panel-collapse collapse">
            <div class="panel-body">
              <button type="button" class="btn btn-primary" id="focal-setting-btn" style="width: 100%; margin-top: 10px;" >Focal plane setting</button>
              <button type="button" class="btn btn-primary" id="streamer-setting-btn" style="width: 100%; margin-top: 10px;">Streamer setting</button>
              <button type="button" class="btn btn-primary" id="detailed-view-btn" style="width: 100%; margin-top: 10px;">Detailed tiles view</button>
            </div>
          </div>
        </div>

        <div class="panel panel-default", id = 'legend-collapse'>
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="toggle" data-toggle="collapse" href="#collapse-legend"> <b>Legend</b> </a>
              <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" style = "margin-left:10px"
              title="color code of the tiles"></a>
            </h4>
          </div>

          <div id="collapse-legend" class="panel-collapse collapse">
            <div class="panel-body">
              <b><font color="blue">Active tile</font></b><br>
              <b><font color="grey">Present tile</font></b><br>
              <b><font color="orange">Warning tile</font></b><br>
            </div>
          </div>
        </div>

        <div class="panel panel-default", id = 'help-collapse'>
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="toggle" data-toggle="collapse" href="#collapse-help"> <b>Help & Credits</b> </a>
              <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" style = "margin-left:10px"
              title="Help and credits links"></a>
            </h4>
          </div>

          <div id="collapse-help" class="panel-collapse collapse">
            <div class="panel-body">
              <button type="button" class="btn btn-secondary" id="help-btn" style="width: 100%; margin-top: 10px;">Help</button>
              <button type="button" class="btn btn-secondary" id="credits-btn" style="width: 100%; margin-top: 10px;">Credits</button>
            </div>
          </div>
        </div>



      </div>
    </div>
    <div class="col-xs-10" id="main" style = "height: 100%; text-align: center;">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
