{% extends "base.html" %}

{% block content %}
<style>

.svg-container {
   display: inline-block;
   position: relative;
   width: 60%;
   padding-bottom: 60%; /* aspect ratio */
   vertical-align: top;
   overflow: hidden;
 }
 .svg-content-responsive {
   display: inline-block;
   position: absolute;
   top: 10px;
   left: 0;
 }

</style>
<div style="width: 100%">
  <center>
    <h2>

    </h2>
  </center>
</div>

<div class="panel panel-default", id = 'plotter-collapse'>
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="toggle" data-toggle="collapse" href="#collapse-plotter"> <b>Detailed view for tile: {{tile_number}}</b> </a>
      <a class="glyphicon glyphicon-question-sign" href="#" data-toggle="tooltip" style = "margin-left:10px"
      title="Change plotting options, filtering, settings..."></a>
    </h4>
  </div>

  <div id="collapse-plotter" class="panel-collapse collapse">
    <div class="panel-body">
      <div style="width: 100%; display: table;">
        <div style="display: table-row" >

          <div style="width: 30%; display: table-cell; padding:10px;">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                   <b>Colorscale</b>
                </h4>
              </div>
              <div class="panel-body" ">
                <div style="text-align: left;">
                  Change the color scheme
                  <div class="radio">
                    <label><input type="radio" name="optradio" checked onclick="set_viridis_colorscale()">Matlab style</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="optradio" onclick="set_jet_colorscale()">Jet</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="optradio" onclick="set_bw_colorscale()">Black and white</label>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div style="width: 30%; display: table-cell; padding:10px;">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                   <b>Frequency options</b>
                </h4>
              </div>
              <div class="panel-body" ">
                <div style="text-align: left;">
                  Change integration frequency over each detector's signal.<br>
                  <!-- <input id="ex16b" type="text"/><br/> -->
                  <label data-toggle="tooltip" title="starting frequency in Hz for integration" style="margin: 10px"> Start frequency </label>
                  <input style = "width: 20%; clear: both; margin-bottom:10px;" type="text" name="min_freq" value="1", id = 'freq_min_integ'><br>
                  <label data-toggle="tooltip" title="ending frequency in Hz for integration" style="margin: 10px"> End frequency </label>
                  <input style = "width: 20%; clear: both; margin-bottom:10px;" type="text" name="max_freq" value="100", id = 'freq_max_integ'>
                  <button type="submit" class="btn btn-success btn-default" onclick="enqueue_all_jobs()" style="float: right">Set</button>
              </div>
            </div>
          </div>
        </div>
        <div style="width: 30%; display: table-cell; padding:10px;">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                   <b>Color calculation</b>
                </h4>
              </div>
              <div class="panel-body" ">
                <div style="text-align: left;">
                  Choose what operation is performed on the selected bandwidth
                  <div class="radio">
                    <label><input type="radio" name="optradio" checked>Max</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="optradio">Mean</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="optradio" disabled>Frequency of max</label>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="triangle_viewer" style="margin-bottom: 20px">

</div>

<div class="modal fade" id="modal_plot_select" role="dialog">
  <div class="modal-dialog" style = "width: auto; max-width: 960px;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:20px 20px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-picture"></span> Available plot modes</h4>
      </div>
      <div class="modal-body" style="padding:40px 50px; ">
        <center>Choose the operation type. Clicking the add button will add a single plot in the plotter view page eventually with many traces.</center>
        <div style="width: 100%; display: table;">
          <div style="display: table-row" >
        <div style="text-align: left; width: 30%; display: table-cell;;">
          <div class="radio">
            <label><input type="radio" name="mode_sel" onclick="set_plotting_mode_ts()" checked>Timestreams</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="mode_sel" onclick="set_plotting_mode_ats()">Averaged timestrams</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="mode_sel" onclick="set_plotting_mode_ps()" >Power spectra</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="mode_sel" onclick="set_plotting_mode_aps()" >Averaged power spectrum</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="mode_sel" onclick="set_plotting_mode_pd()" >Pair difference</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="mode_sel" onclick="set_plotting_mode_apd()" >Averaged pair difference</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="mode_sel" onclick="set_plotting_mode_pds()" >Pair difference spectrum</label>
          </div>

        </div>
        <div style="text-align: left; width: 70%; display: table-cell;" id="mode_descriptor">
          <b>Plotting mode description: </b>Each selected detector timestream will be dispayed as a trace in the plot.
        </div>
        </div>
        </div>
        <!-- <table id="plot_select_table" class="table" style="width:95%">
          <thead>
            <tr>
              <th>Plot</th>
              <th>Kind</th>
              <th>Generated</th>
              <th>Comment</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table> -->
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success btn-default" onclick=""><span class="glyphicon glyphicon-plus"></span> Add</button>
        <button type="submit" class="btn btn-danger btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- focal plane code -->
<script type="text/javascript" src={{ url_for('static', filename = 'js/triangle_view.js') }}></script>

{% endblock %}
